@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: azure;
}
nav ul li a{
    color:rgb(151, 255, 250);
    text-decoration: none;
    font-family: 'Jura';
    font-weight: bold;
}
nav ul li{
    display: inline;
    padding: 10px 15px;
    border: 2px solid rgb(151, 255, 250);
}
nav ul li:hover{
    background-color: rgb(151, 255, 250);
}
nav ul li:hover>a{
    color: rgb(165, 62, 185);
}
nav ul{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0px auto;
    padding: 10px 0px;
}
nav{
    background-color: rgb(165, 62, 185);
}
main{
    max-width: 1000px;
    margin: 0px auto;
}
main h1{
    color: rgb(95, 0, 114);
    font-family: 'Jura';
}
#new-videos .thumbnail{
    background-color: rgb(255, 188, 188);
    height: 150px;
    width: 100%;
}
#top-videos .thumbnail{
    background-color: rgb(188, 189, 255);
    height: 150px;
    width: 100%;
}
#suggested-videos .thumbnail{
    background-color: rgb(131, 250, 151);
    height: 150px;
    width: 100%;
}
#my-videos .thumbnail{
    background-color: rgb(214, 250, 131);
    height: 150px;
    width: 100%;
}
.main-sect article div h2{
    color: rgb(95, 0, 114);
    font-family: 'Jura';
    margin: 0px;
}
.main-sect article div h3, .main-sect article div small{
    color: rgb(95, 0, 114);
    font-family: 'Jura';
    margin: 0px;
    font-size: 14px;
}
.main-sect article{
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33% - 20px);
    margin: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}
.discription{
    padding: 5px;
}
.main-sect{
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: rgb(165, 62, 185);
    height: 50px;
    padding: 20px;
    margin-top: 50px;
}
footer small{
    display: block;
    max-width: 1000px;
    margin: 0px auto;
    color: rgb(151, 255, 250);
    font-family: 'Jura';
    font-size: 14px;
}
#upload{
    display: flex;
    flex-direction: column;
}
label{
    color: rgb(95, 0, 114);
    font-family: 'Jura';
    font-size: 24px;
    font-weight: bold;
}
button{
    background-color: rgb(165, 62, 185);
    color: rgb(151, 255, 250);
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    margin: 10px auto;
    font-family: 'Jura';
}
a{
    text-decoration: none;
}
main video{
    margin-top: 50px;
    border-radius: 20px;
}
main p{
    color: rgb(95, 0, 114);
    font-family: 'Jura';
    font-size: 20px;
    max-width: 800px;
}